<h1>SuperHero List</h1>

<ul>
  <% @superheroes.each do |superhero| %>
  <li class = "image_tag">
    <%= link_to superhero.name, superhero_path(superhero) %>
    <%= image_tag superhero.photo_url %>
  </li>
  <% end %>
</ul>
