<h1> Pick a SuperHero !!!!</h1>


<p>This webapps offers a brief history about Superman, Batman, and The Flash.
All three being among the most popular DC Comics character universe.</p>

<p>Feel free to click on the page links provided to learn more about Superman, Batman, and The Flash.</p>
